@font-face {
    font-family: Norse-Bold;
    src: url(../resources/Norse-Bold.otf);
}

body {
    background: url(../resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: auto 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.banner {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    margin: 0 auto;
    height: 95vh;
    width: 95vw;
    z-index: -1;
}

.brand figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img{
    display: inline-block;
    height: 10vh;
}

.brand h1 {
    font-family: Norse-Bold;
    color: white;
    display: inline-block;
    font-size: 10vh;
}

section {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 255);
}

.credit {
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.credit a {
    color: white;
}

.credit a:visited {
    color: white;
}

@media only screen and (min-width: 768px) {
    section {
        background-color: red;
    }
}