@font-face {
    font-family: Norse-Bold;
    src: url(../resources/Norse-Bold.otf);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    background-color: rgba(0, 0, 0, 0.4);
    width: 95%;
    height: 100%;
    margin-top: 1rem;
}

.brand figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.brand img {
    display: inline-block;
    height: 5rem;
}

.brand h1 {
    font-family: Norse-Bold;
    color: white;
    display: inline-block;
    font-size: 5rem;
}

form {
    background-color: blue;
    width: 90%;
    margin: 0 auto;
}

.credit {
    color: white;
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.credit a {
    color: white;
}

.credit a:visited {
    color: white;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 40vw;
        justify-content: space-between;
    }

    .banner {
        margin-top: 25vh;
        width: 100%;
        flex-grow: 0;
    }

    form {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60vw;
    }
}