@font-face {
    font-family: Norse-Bold;
    src: url(../resources/Norse-Bold.otf);
}

body {
    font-family: 'Courier New', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    background-color: rgba(0, 0, 0, 0.4);
    width: 95%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.brand figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.brand img {
    display: inline-block;
    height: 5rem;
}

.brand h1 {
    font-family: Norse-Bold;
    color: white;
    display: inline-block;
    font-size: 5rem;
}

.form-con {
    background-color: rgb(245, 245, 245);
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 11.8rem);
    margin-bottom: 1rem;
    overflow: auto;
}

.credit {
    color: white;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    height: 2.8rem;
    font-size: 0.8rem;
}

.credit a {
    color: white;
}

.credit a:visited {
    color: white;
}

.description {
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    padding: 50px 30px;
}

.form {
    background-color: white;
    box-shadow: 0px 2px 5px rgb(120, 120, 120);
    color: rgb(14, 16, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.form h2 {
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 2rem;
    align-self: flex-start;
}

.inputs {
    display: flex;
    margin: 0 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.input {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    position: relative
}

label {
    font-size: 0.6rem;
    font-weight: bold;
}

input {
    outline: none;
    border: #E5E7EB solid 1px;
    border-radius: 4px;
    padding: 4px;
}

input:required + span::before {
    content: '*required';
    position: absolute;
    font-size: 0.5rem;
    top: 0;
    right: 2px;
}

input:optional + span::before {
    content: 'optional';
    position: absolute;
    font-size: 0.5rem;
    top: 0;
    right: 2px;
}

input:focus {
    border: rgb(86, 193, 254) solid 1px;
    box-shadow: 0px 2px 5px rgb(86, 193, 254);
}

input:valid{
    border: green 1px solid;
}

input:valid:focus {
    box-shadow: none;
}

input:valid + span::after{
    content: "✓";
    color: green;
    position: absolute;
    top: 15px;
    right: 7px;
}

input:invalid + span::after{
    content: "*requirements not met";
    color: orange;
    position: absolute;
    font-size: 0.6rem;
    top: 42px;

}

.error:valid {
    border: red 1px solid;
}

.error{
    border: red 1px solid;
}

.error:focus {
    border: red 1px solid;
    box-shadow: none;
}

.error:valid + span::after {
    content: '';
}

.submission {
    background-color: rgb(245, 245, 245);
    margin-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.submission button {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
    font-weight: bold;
    position: relative;
}

.submission button:hover{
    top: -1px;
}

.submission button:active {
    top: 1px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem;
    row-gap: 0,5rem;
}

.login p {
    font-size: 0.8rem;
}

.login a {
    font-weight: bold;
    text-decoration: none;
    color: #596D48;
    margin-right: 2rem;
}

.login a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 40vw;
        justify-content: space-between;
    }

    .banner {
        margin-top: 25vh;
        width: 100%;
        height: auto;
    }

    .form-con {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60vw;
    }
}